*{
	margin: 0 auto;
	box-sizing: border-box;
	font-family: 'Exo', sans-serif;
}

.logo {
	text-align: center;
	min-height: 100px;
	background: #7C248A;
	padding-top: 15px;
}

nav {
	margin-top: 5px;
	text-align: center;
	height: 60px;
	background: #ebebeb;
	overflow: hidden;
}

li {
	display: inline-flex;
	font-size: 25px;
	font-weight: bold;
	padding: 15px;
}

a:hover {
	color: #7C248A;
	text-decoration: underline;
}

a {
	text-decoration: none;
	color: grey;
}
#bground {
	background: linear-gradient(rgba(128,0,150,0.2),rgba(128,0,150,0.2)), url('computer-1245714_1280.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	height: 600px;
	margin-top: 5px;
}

#title {
	text-align: center;
	color: white;
	padding-top: 200px;
	font-size: 100px;
	font-weight: bold;
}

#one, #two {
	display: flex;
	margin: 30px 10px;
}

.pairOne {
	width: 45%;
	display: flex;
	background: #D5C0D9;
}

.pairTwo {
	width: 45%;
	display: flex;
	background: #D5C0D9;
}

#img1, #img2, #img3, #img4 {
	width: 35%;
	margin: 10px 10px 30px 10px;

}

.column {
	display: flex;
	overflow: hidden;
}

.data {
	flex: 2;
	margin-left: 20px;
}

.data p {
	padding-top: 15px;
	font-size: 20px;
	font-weight: bold;
}

.likes {
	padding-bottom: 20px;
	display: inline-flex;
	align-items: flex-end;
	position: relative;
}

.heart {
	min-width: 10%;
	margin: 0 10px 0 10px;
	padding-bottom: 10px;
}

#l1, #l2, #l3, #l4 {
	font-size: 60px;
	margin-bottom: 0;
}

.button {
	text-align: center;
	padding-top: 10px;
	margin: 0 10px 20px 0;
	width: 120px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid grey;
	background: #96CCC4;
	font-weight: bold;
	cursor: pointer;
}

#footer {
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	padding-top: 15px;
	text-shadow: rgb(51, 51, 51);
}